body {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 24px;
    margin-bottom: 32px;
}
.view-height {
    height: 100vh;
}
.margin-zero {
    margin-left: 0; 
    margin-right: 0;
}
.property {
    z-index: 1;
    position: absolute;
    bottom: -50px;
    left: -100px;
}
.upper-ring {
    position: absolute;
    top: -120px;
    right: 0;
}
.lower-ring {
    position: absolute;
    left: -100px;
    bottom: -10px;
}
.position-relative {
    position: relative;
    z-index: 8;
}
.upper-dot {
    position: absolute;
    bottom: 550px;
    left: 20px;
}
.lower-dot {
    position: absolute;
    right: 40px;
    bottom: -60px;
}
